.log-in {
    margin-left: 210px!important;
    margin-right: 50px;
    position: relative;
}

.raincloud {
    height: 50px;
    width: 75px;
    margin-right: 0px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
}

#index {
    background-image: url("../assets/images/rainy-day.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

#review {
    background-image: url("../assets/images/date-in.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#recipe {
    background: rgba(52, 58, 64, 0.7);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}

#movie {
    background: rgba(52, 58, 64, 0.8);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
    padding-top: 30px;
}

#postMates {
    background: rgba(52, 58, 64, 0.8);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
    padding-top: 30px;
}

#nav {
    border-bottom: 5px solid #17a2b8!important;
    width: 100%;
}

#navigation {
    padding: 0px;
}

#footer {
    padding: 0px;
    border-top: 5px solid #17a2b8!important;
}

footer {
    height: 50px;
    position: relative;
}

#titleR {
    margin-left: 5000px;
    color: white;
    padding-left: 85px;
}

#titleI {
    margin-left: 5000px;
    color: white;
    padding-left: 90px;
}

#movieImage, #movieInfo, #postPlace {
    padding: 0px;
    height: 190.6px;
}

#foodInfo, #foodImage {
    height: 222.6px;
}

#foodInfo, #postPlace {
    padding-left: 20px;
}

#movieInfo {
    padding-right: 20px;
    padding-left: 10px;
    overflow: auto;
    
}

#foodInfo {
    overflow: auto;
}

#movieImage, #movieInfo {
    float: left;
}

#foodImage, #foodInfo, #postPlace {
    float: right;
}

#testimonial {
    background: rgba(52, 58, 64, 0.8);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
    padding-top: 10px;
    padding-bottom: 20px;
}

#message {
    height:100px;
    overflow: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-left: 60px;
    font-size: 20px;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: #d6d328
}