.log-in {
    margin-left: 210px!important;
    margin-right: 50px;
    position: relative;
}

.hearts {
    height: 40px;
    width: 60px;
    margin-right: 0px;
    margin-left: 20px;
    border-radius: 50%;
}

#index {
    background-image: url("../assets/images/rainy-day.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

#results {
    background-image: url("../assets/images/NAC.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

#review {
    background-image: url("../assets/images/romance-blue-orange.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#recipe {
    background: rgba(52, 58, 64, 0.7);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;

}

#movie {
    background: rgba(52, 58, 64, 0.8);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
}

#postMates {
    background: rgba(52, 58, 64, 0.8);
    border-top: 5px double #17a2b8;
    border-bottom: 5px double #17a2b8;
    width: 100%;
}

#nav {
    border-bottom: 5px solid #17a2b8!important;
    width: 100%;
}

#navigation {
    padding: 0px;
}

#footer {
    padding: 0px;
}

footer {
    height: 50px;
    border-top: 5px solid #17a2b8!important;
    position: relative;
}

#title {
    margin-left: 5000px;
    color: white;
    padding: 0;
}
